# Ignore temporary Python folders/files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.env
.venv/
venv/
*.py[cod]
*$py.class

# Ignore VS Code folders
.idea/
.vscode/*
# Exceptions
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 

# Ignore system folders/files
.directory
# macOS
.DS_Store
.AppleDouble
.LSOverride
# Windows
Thumbs.db
ehthumbs.db
$RECYCLE.BIN/
# Linux
*~
.fuse_hidden*
.Trash-*

# Ignore sensitive or developing folders/files
data/
private/
config_keys.py
*.log
