# Ignore temporary Python folders/files
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class
*.pyc

# Ignore VS Code folders
.vscode/

# Ignore system folders/files
.directory
.DS_Store
Thumbs.db

# Ignore sensitive or developing folders/files
data/
private/
config_keys.py
*.log
